<div style="display: flex; justify-content: space-evenly; flex-wrap: wrap; padding: 50px;">
    <mat-card style="width: 40%; margin: 10px;">
        <mat-card-title>Documenten</mat-card-title>
        <mat-card-subtitle>Bekijk hier uw documenten</mat-card-subtitle>
        <mat-card-content>
            <button mat-raised-button color="primary" routerLink="documents">Ga naar</button>
        </mat-card-content>
    </mat-card>

    <mat-card style="width: 40%; margin: 10px;">
        <mat-card-title>Berichtgeving</mat-card-title>
        <mat-card-subtitle>Bekijk hier uw berichtgeving</mat-card-subtitle>
        <mat-card-content>
            <button mat-raised-button color="primary">Ga naar</button>
        </mat-card-content>
    </mat-card>

    <mat-card style="width: 40%; margin: 10px;">
        <mat-card-title>Nog iets....</mat-card-title>
        <mat-card-subtitle>Doe hier nog iets</mat-card-subtitle>
        <mat-card-content>
            <button mat-raised-button color="primary">Ga naar</button>
        </mat-card-content>
    </mat-card>


    <mat-card style="width: 40%; margin: 10px;">
        <mat-card-title>Nog iets....</mat-card-title>
        <mat-card-subtitle>En hier nog iets anders</mat-card-subtitle>
        <mat-card-content>
            <button mat-raised-button color="primary">Ga naar</button>
        </mat-card-content>
    </mat-card>

</div>
